html,body{
	height: 100%;
}
*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
.clearfix::after{
 clear: both;
 content: "";
 display: table;
}
a{
	color: inherit;
	text-decoration: none;
}
li{
	list-style: none;
}
ul li:last-child{
	margin-bottom: 0;
}
img{
	display: block;
	width: 100%;
	height: auto;
}
button,
label{
	cursor: pointer;
}
input,
button,
textarea{
	background: none;
	border: none;
	outline: none;
	display: block;
	width: 100%;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
}
input[type="radio"],
input[type="checkbox"]{
	display: none;
}
input::placeholder {
	color: inherit;
}
button{
	cursor: pointer;
}
input, 
textarea{
	display: block;
	resize: none;
}
body{
	font-size: 20px;
	line-height: 23px;
	font-weight: 500;
	color: #242424;
	width: 100%;
	font-family: 'Raleway', arial, sans-serif;
}
.container{
	max-width: 1325px;
	width: 100%;
	min-width: 320px;
	margin: 0 auto;
	padding: 0 15px;
}
.dn{
	display: none;
}
/* section{
	padding: 100px 0; */
.sec_tit{
	font-weight: 800;
	font-size: 42px;
	line-height: 57px;
	text-align: center;
	margin: 0 auto;
}
.color{
	color: #BE963F;
}
.dib{
	display: inline-block;
}
.hover{
	transition: 0.3s;
}
.hover:hover{
	color: #BE963F;
}
.link{
	transition: 0.3s;
}
.link:hover{
	box-shadow: 0px 6px 5px 2px #836A36;
}
.flex{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
/* header */
header{
	background:#E1EDE6;
	padding:0 35px;
}
.logo{
	padding: 35px;
}
.logo:hover{
	transform: scale(1.1);
	transition: 0.3s;
}
.head_right{
	align-items: center;
	gap: 30px;
}
.menu a{
display: block;
padding: 35px ;
}
.menu a:hover{
	color: darkgreen;
	transition: 0.3s;
	transform: scale(1.1);
}
.cart:hover{
	transform: scale(1.1);
	transition: 0.3s;
}

/* replicas */
.replicas_img{
	margin-left: 150px;
	}
.replicas_content{
		max-width: 540px;
		margin-top: 145px ;
	} 
.replicas_tit{
	font-size: 60px;
	line-height: 66px;
	margin-bottom: 20px;
	}
.replicas_txt{
	font-size: 18px;
	line-height: 27px;
	color: #86928B;
	margin-bottom: 55px;
}
.btn{
		color: #598D66;
		padding: 15px 40px;
		border: 1px solid #598D66;
		width: auto;
	}
.btn:hover{
	color: #fff;
	background: #598D66;
	border-color: #fff;
	transition: 0.5s;
	}
/* reproductions */
.reprn_tit{
font-size: 40px;
line-height: 44px;
padding-top: 70px;
margin-bottom: 30px;
}
.reprn_btns{
	display: flex;
	align-items: flex-end;
	gap: 30px;
	margin-bottom: 30px;
}
.reprn__btn:hover ,
.reprn_btn 
{
	color:#2c2d35;
	padding: 10px 20px ;
	background: #d4e8d9;
	border-radius: 20px;
}
.reprn_btn:hover ,
.reprn__btn{
	color:#f4f6f5;
	padding: 10px 20px ;
	background: #376b44;
	border-radius: 20px;
}
.card_in{
	background: #E1EDE6;
	margin-bottom: 30px;
	width: calc((100% - 60px) / 3);
}
.card_img{
margin: 20px;
}
.card_bottom{
	margin: 20px ;
	margin-bottom: 30px;
}
.card_name{
font-size: 18px;
color: #86928B;
margin-bottom: 10px;
}
.card_tit{
font-size: 30px;
line-height: 35px;
color: #2c2d35;
margin-bottom: 10px;
}
.card_txt{
font-size: 18px;
line-height: 21px;
color: #2c2d35;
margin-bottom: 30px;
}
.card_price{
font-size: 24px;
line-height: 28px;
margin-bottom: 20px;
color: #598D66;
}
.card_btn{
	display: block;
	width: 100%;
}
/* collection */
.collection{
	background: url(../img/collection.jpg) center no-repeat;
}
.collection_content{
width: 70%;
padding: 65px 155px;
}
.collection_tit-ic{
	display: flex;
	align-items: center;
}
.collection_ic{
	margin-right: 15px;
	width: 120px;
}
.collection_paragrafh{
	margin-top: 20px;
	margin-bottom: 55px;
}
.collection_tit{
font-size: 40px;
line-height: 40px;
color: #F4F6F5;
font-weight: 200;
}
.collection_txt{
font-size: 18px;
line-height: 27px;
color:#fff ;
margin-bottom: 20px;
}
.btn__collection{
	color: #2C2D35;
	background: #EEDB6D;
	border: #EEDB6D;
	}
.btn__collection:hover{
		background: #2C2D35;
		color: #EEDB6D;
		}
/* team */
.team_img{
	margin-top: 30px;
	margin-left: 165px;
}
.team_content{
	width: calc(50% - 0px);
	padding: 170px 0;
}
.team_tit{
font-size: 40px;
line-height: 44px;
margin-bottom: 20px;
}
.team_txt{
font-size: 18px;
line-height: 27px;
margin-bottom: 15px;
}
.team_ic{
	display: flex;
	width: 80px;
	height: 80px;
	gap: 30px;
}
/* footer */
footer{
background: #E1EDE6;
padding:35px 0 20px;
}
.footer_img{
	margin-bottom: 50px;
}
.footer_tit{
	margin-bottom: 20px;
}
.footer_txt{
font-size: 18px;
line-height: 21px;
color: #86928B;
}
.footer_list li{
font-size: 18px;
line-height: 21px;
color: #86928B;
margin-bottom: 10px;
}
.footer_center{
	gap: 70px;
}
.footer_ic{
	margin-right: 30px;
	width: 24px;
	height: 24px;
	background-repeat: no-repeat;
	margin-bottom: 20px;
}
.footer_ic_fb{
	background-image: url(../img/icons/footer.ic-1.svg)  ;
}
.footer_ic_ins{
	background-image: url(../img/icons/footer.ic-2.svg);
}
.footer_ic_you{
	background-image: url(../img/icons/footer.ic-3.svg);
}
.footer_ic-txt{
font-size: 12px;
line-height: 14px;
color: #86928B;
margin-bottom: 10px;
}
